<nav class="site-header sticky-top py-1 bg-white border-bottom box-shadow">
     <div class="container d-flex flex-column flex-md-row justify-content-between">
       <a class="py-2" href="#">
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
       </a>
       <a class="py-2 d-none d-md-inline-block" href="#">How It Works</a>
       <a class="py-2 d-none d-md-inline-block" href="#"> Our Team</a>
       <a class="py-2 d-none d-md-inline-block" href="#">Contact</a>
     </div>
   </nav>


<div class="limiter">
        <div class="wrap-login100">
          <form class="login100-form validate-form">
                <span class="login100-form-title p-b-43">
                    Login
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-32">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>
                </div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

                <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        Made by Students of Chapman University
                    </span>
                </div>

            </form>


            <div class="login100-more" style="background-image: url('images/bg-01.jpg');">
              <div id="home">
                <div class="bg">
                  <article id="container">
                    <h4>Revolutionizing Safety On Campuses</h4>
                      <h1>Welcome to C-Safe </h1>
                      <p></p>
                  </article>
                </div>
              </div>

            </div>

        </div>
    </div>
