/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Poppins);


html.request_ride {
    height: 100%;
    width: 100%;

}
.robot{
    top:100px;
    width: 300px;
    height: 300px;
}
body.request_ride{

    font-family:'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-weight: lighter;
}

nav {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

body{
  height: 100%;
  width: 100%;
  margin: 0px;
    justify-content: center;
    align-items: center;

}

.row{

  background: -webkit-linear-gradient(top, rgba(128,0,0 ,1 ),rgba(44,62,80 ,1));
  background: -webkit-linear-gradient(top, rgba(128,0,0 ,1 ),rgba(44,62,80 ,1));/* Chrome 10-25, Safari 5.1-6 */
}

.requestMap {
    height: 500px;
    margin: auto;

}

.checkbox{
    margin: auto;
    padding: 10px 10px 5px;
  display: inline;

}

.radio-inline{
    margin-right: 5%;

}

input[type="radio"] {
    width: 16px;
    height: 16px;
    left: 20px;
}
input[type="radio"]:checked + label:after{
    background: red; /*add your background image here*/
}
/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
    width: 100%;

}

#msform fieldset {
    padding: 15px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 98%;
    margin-left: 1%;
    box-sizing: border-box;
    position: relative;


}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;

}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    text-align: center;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 150px;
    background: rgba(216,22,96,0.8);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    margin-left: auto;
    margin-right: auto;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

.form-control {

    background-color: #FCFCFC;

}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;

}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.3%;
    float: left;
    position: relative;
    letter-spacing: 1px;

}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;


}

/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: black;
    color: white;
}

.iconz {
     float: right;
      margin-right: 8%;
      height: 50px;
      width: 50px;
     margin-top: -57px;
     z-index: 2;
     color: lightgrey;
 }

 .iconz:hover {
  color: #ee0979;
 }

 .phonez{
   float: right;
    margin-right: 8%;
    height: 50px;
    width: 50px;
   margin-top: -40px;
   z-index: 2;
   color: lightgrey;

 }
 #searchclear {
  float: left;
  margin-left: 8%;
  height: 30px;
  width: 30px;
  margin-top: -40px;
  z-index: 2;
    cursor: pointer;
    color: #ccc;

}
#searchclear:hover{
  color: red;
}


.timer {
  font-size: 3em;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 20px rgba(125,34,189,0.8);
}
.timer div {
    display: inline-block;
    min-width: 90px;

}
.timer span {
      color: rgba(125,34,189,0.8);
      display: block;
      font-size: .35em;
      font-weight: 400;
}




$fly-in-time: 3s;
$hover-bezier: cubic-bezier(0.57, 0.19, 0.25, 0.75);
$spacing-unit: 28px;


.container {
  margin-top: $spacing-unit;
  max-height: 560px;
  overflow: hidden;
  width: 100%;
}

/* SVG Styles */
#robot {
  animation: fly-in $fly-in-time ease-out;
  max-height: 560px;
  width: 100%;
}

.arm,
.leg {
  animation: dangle 3s $hover-bezier infinite;
  transform-origin: 50% 0%;
}

.head {
  animation: attach-head $fly-in-time linear;
}

.flame {
  animation: flicker 0.35s linear infinite;
  transform-origin: 50% 50%;
}

.lean {
  animation: lean $fly-in-time linear;
  transform-origin: 50% 0%;
}

.levitate {
  animation: levitate 3s $hover-bezier infinite;
  transform-origin: 50% 50%;
}

.smoke {
  animation: smoke 0.25s linear infinite;
  transform-origin: 50% 50%;
}

.smoke-group {
  animation: track-levitate 3s $hover-bezier infinite;
  animation-delay: 0.25s;
}

// Animation delay classes
@for $i from 2 through 10 {
  .delay-#{$i} {animation-delay: 0.03s * $i;}
}

// Keyframe animations
/*
  Flicker courtesy of:
  https://codepen.io/ghen/pen/pvwOwM
*/
@keyframes flicker {
  0% {transform: rotate(-1deg);}
  25% {transform: rotate(1deg) scaleY(1.15);}
  50%, 100% {transform: rotate(1deg);}
  75% {transform: rotate(-2deg) scaleY(0.95);}

}

@keyframes smoke {
  from {transform: scale(0.95);}
  to {transform: scale(1.15);}
}

/*
  Rotating hover courtesy of:
  http://lea.verou.me/2012/02/moving-an-element-along-a-circle/
*/
@keyframes levitate {
  from {transform: rotate(0deg) translate(-15px) rotate(0deg);}
	to {transform: rotate(360deg) translate(-15px) rotate(-360deg);}
}

@keyframes track-levitate {
  0%, 100% {transform: translateX(-20px);}
  50% {transform: translateX(0);}
}

@keyframes dangle {
  0%, 100% {transform: rotate(0deg);}
  33% {transform: rotate(10deg);}
  66% {transform: rotate(-10deg);}
}

@keyframes lean {
  0%, 100% {transform: rotate(0deg) translateX(0px);}
  20% {transform: rotate(-30deg) translateX(-130px);}
  80% {transform: rotate(-30deg) translateX(-130px);}
}

@keyframes attach-head {
  0%, 100% {transform: translate(0px 0px);}
  20% {transform: translate(-130px, 60px);}
  80% {transform: translate(-130px, 60px);}
}

@keyframes fly-in {
  0% {transform: translateX(2000px);}
  100% {transform: translateX(0px);}
}

  .loader,
  .loader__figure {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .loader {
    overflow: visible;
    padding-top: 2em;
    height: 0;
    width: 2em;
  }

  .loader__figure {
    height: 0;
    width: 0;
    box-sizing: border-box;
    border: 0 solid rgba(125,34,189,0.8);
    border-radius: 50%;
    -webkit-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .loader__label {
    float: left;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0.5em 0 0 50%;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: #8d3b3e;
    white-space: nowrap;
    -webkit-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  @-webkit-keyframes loader-figure {
    0% {
      height: 0;
      width: 0;
      background-color: rgba(125,34,189,0.8);
    }
    29% {
      background-color: rgba(125,34,189,0.8);
    }
    30% {
      height: 2em;
      width: 2em;
      background-color: transparent;
      border-width: 1em;
      opacity: 1;
    }
    100% {
      height: 2em;
      width: 2em;
      border-width: 0;
      opacity: 0;
      background-color: transparent;
    }
  }
  @-moz-keyframes loader-figure {
    0% {
      height: 0;
      width: 0;
      background-color: rgba(125,34,189,0.8);
    }
    29% {
      background-color: rgba(125,34,189,0.8);
    }
    30% {
      height: 2em;
      width: 2em;
      background-color: transparent;
      border-width: 1em;
      opacity: 1;
    }
    100% {
      height: 2em;
      width: 2em;
      border-width: 0;
      opacity: 0;
      background-color: transparent;
    }
  }
  @keyframes loader-figure {
    0% {
      height: 0;
      width: 0;
      background-color: rgba(125,34,189,0.8);
    }
    29% {
      background-color: rgba(125,34,189,0.8);
    }
    30% {
      height: 2em;
      width: 2em;
      background-color: transparent;
      border-width: 1em;
      opacity: 1;
    }
    100% {
      height: 2em;
      width: 2em;
      border-width: 0;
      opacity: 0;
      background-color: transparent;
    }
  }
  @-webkit-keyframes loader-label {
    0% {
      opacity: 0.25;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0.25;
    }
  }
  @-moz-keyframes loader-label {
    0% {
      opacity: 0.25;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0.25;
    }
  }
  @keyframes loader-label {
    0% {
      opacity: 0.25;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0.25;
    }
  }
