<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hi <%= @user.email %>, </p>

  Your ride has been requested
  <br>
  <br>
  Please be at your pick up location.
  <br>
  <br>
  If you have any problems finding your ride please give us a call at <a href="tel:+17149976680">(714) 997-6680</a>

  <br>
  <br>
  Safe ride,
  <br><br>
  CSafe
</p>
</body>
</html>