<div class="wrapper">
  <div class="container">


    <form class="form">
      <h1>Get Started</h1>
      
      <a type="submit" id="signin-button" href="<%= new_user_registration_path %>"> Signin </a>
      <a type="submit" id="login-button" href="<%= new_user_session_path %>">Login</a>
    </form>

  </div>



  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>